<h1>
  Links to <i>everything</i> you'd ever want to link to
</h1>
<p>
  <a href="http://www.khaos.com" target="_blank"> Karl's site </a>
  <br/>
  <a href="http://www.FootSI.org" target="_blank"> the FootSI.org site </a>
  <br/>
  let me <a href="http://www.google.com" target="_blank"> google </a> that for you
</p>
